body{
	font-family:verdana;	
	color:black;
	max-width: 1000px;
	margin-left: 40px;
}

table, th, td{
	border: 1px solid black;
}

#FooterLogo {
	background-color: white;
	width: 150px;
	float:left;
}

#FooterText {
	background-color: white;
	margin-left: 200px;
}

#PageContent {	
	margin-left: 20px;
	margin-right: 20px;
}

.terminal {
	font-family:monospace;
	font-size: 12px;
	background-color: #424242;
	color:white;
	margin-left: 20px;
	margin-right: 20px;
	padding: 20px;	
	border:2px dotted black;
}

.CCode {
	font-family:monospace;
	font-size: 12px;
	background-color: #CED8F6;
	color:black;
	margin-left: 20px;
	margin-right: 20px;
	padding: 20px;	
	border:2px dotted black;
}
